<appSettings>
  <add key="startingGems" value="999999"/><!-- Beware, very high value will crash UCS -->
  <add key="startingGold" value="100000000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingElixir" value="500000000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingDarkElixir" value="100000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingTrophies" value="5000"/>
  <add key="startingShieldTime" value="3600"/><!-- Initial shield duration in seconds -->
  <add key="clientVersion" value="7.200.19"/><!-- Major version dot Client build -->
  <add key="useCustomPatch" value="false"/><!-- Specify if the server is using patches (.csv, .sc, ...) -->
  <add key="patchingServer" value="http://www.ultrapowa.com/patch/"/><!-- Don't forget the trailing slash -->
  <add key="maintenanceMode" value="false"/><!-- People trying to connect will see a maintenance message if set to true -->
  <add key="databaseConnectionName" value="sqliteEntities"/><!-- ucsdbEntities for MySql, sqliteEntities for local -->
  <add key="loggingLevel" value="4"/><!-- Enable logging for debugging, set value to 1 for (almost) no log -->
  <add key="apiManager" value="true"/><!-- Enable Api Manager for debugging, set value to false for disable -->
  <add key="DebugModeLocal" value="true"/><!-- API Manager only on Local, For public set false-->
  <add key="DebugPort" value="4434"/><!-- Choose the port for Debug Mode, by default set value to 4434 -->
  <add key="AlliancesLevel" value="10"/><!-- Global clans level, set 10 for default -->
  <add key="AlliancesScore" value="10000"/><!-- Global clan score, set 10000 for default -->
  <add key="AlliancesExperience" value="8500"/><!-- Global clan experience, set 8500 for default -->
  <add key="PlayerExperience" value="115"/><!-- Global players experience, set 115 for default -->
</appSettings>